.no-select {
  -webkit-touch-callout:none; /* iOS Safari */
  -webkit-user-select:none;   /* Chrome/Safari/Opera */
  -khtml-user-select:none;    /* Konqueror */
  -moz-user-select:none;      /* Firefox */
  -ms-user-select:none;       /* Internet Explorer/Edge */
  user-select:none;           /* Non-prefixed version */
}
.cw-calculator {
    position:fixed;
    bottom:0;
    right:0;
    background-color:#d8f5fa;
    padding:10px;
    margin:10px;
    border: 2px #70c8d8 solid;
    border-radius:10px;
}
.cw-calculator * {
    font-family:'Times New Roman', Times, serif;
}
.cw-calculator > h3 {
    padding:0;
    margin:0;
    margin-top:30px;
}
.cw-buttons {
    position:relative;
    display:block;
    padding:10px;
    min-width:225px;
    outline: none; 
}
.cw-row {
    width:100%;
}
.cw-button {
    width:64px;
    height:50px;
    margin:5px;
    border-radius: 32px;
    background-color:#d8f5fa;
    font-size:12px;
}
.cw-button:focus {
    outline: none; 
}
.cw-wide {
    width: 138px;
}
.cw-container-choice {
    min-width:225px;
    min-height:225px;
    max-height:300px;
    display:block;
    position:relative;
    padding:10px;
    overflow-y:scroll;
}
.cw-container-choice > button {
    background-color:#d8f5fa;
    cursor:pointer;
    display:block;
    margin:5px;
    height:50px;
    padding: 8px 20px;
    border-radius: 25px;
    font-size:25px;
}
.cw-container-choice > button:focus {
    outline: none; 
}
.cw-close-button {
    cursor:pointer;
    display:block;
    position:absolute;
    top:0;
    right:0;
    margin:5px;
    height:50px;
    padding: 8px 20px;
    border-radius: 25px;
    font-size:12px;
    background-color:rgb(255, 112, 87);
    margin-left:auto;
}
.cw-close-button:focus {
    outline: none; 
}
.cw-input {
    height:64px;
    width:225px;
    margin:5px;
    border-radius: 32px;
    background-color:#fff;
    font-size:50px;
    text-align:right;
    font-family:monospace;
    border-style:inset;
}
.cw-input:focus {
    outline: none; 
}
.cw-start {
    margin:0;
    padding:0;
    border:none;
    background-color:transparent;
    font-size:40px;
}
.cw-start:focus {
    outline: none; 
}